<app-data-binding></app-data-binding>
<div id="background" class="container-fluid" [ngStyle]="{'background-image': 'url(' + graf + ')'}">
  <div class="padding">
      <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#modalLogin">Open Modal</button>
    <div class="padding">
      <div class="padding">
        <div class="padding">
          <div class="register" style="text-align: center">
            <div>
              <h4>
                <strong>
                  Cadastre-se e seja um antenado!
                </strong>
              </h4>
            </div>
            <div>
              <p>
                Vai ser rápido! Basta preencher os seguintes dados:
              </p>
            </div>
            <div class="row">
            <div class="col-2"></div>
            <div class="col-8"> 
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" [mustMatch]="['password', 'confirmPassword']" novalidate>
                  <div class="row">
                    <div class="col-6">
                  <div class="form-group">
                        <label for="firstName">Nome</label>
                        <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required />
                        <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
                            <div *ngIf="firstName.errors.required">Digite seu nome.</div>
                        </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                        <label for="lastName">Sobrenome</label>
                        <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" required />
                        <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
                            <div *ngIf="lastName.errors.required">Digite seu sobrenome.</div>
                          </div>
                        </div>
                    </div>
                  </div> 
                  <div class="row">
                  <div class="col-6"> 
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input id="email" type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
                        <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                            <div *ngIf="email.errors.required">Digite seu e-mail.</div>
                            <div *ngIf="email.errors.email">Digite um e-mail válido.</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6"> 
                    <div class="form-group">
                        <label for="password">Senha</label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6" />
                        <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                            <div *ngIf="password.errors.required">Digite sua senha.</div>
                            <div *ngIf="password.errors.minlength">A senha deve conter 6 dígitos.</div>
                        </div>
                    </div>
                     </div>
                    </div>
                     <div class="col-14">
                    <div class="form-group">
                        <label for="option">Você é:</label>
                        <select class="form-control">
                            <option value="Aluno">Aluno</option>
                            <option value="Professor">Professor</option>
                            <option value="Gestor">Gestor</option>
                            <option value="Colaborador">Colaborador</option>
                          </select>
                      </div>
                    </div>
                        <div class="form-group">
                        <button id= "btnEntrar"class="btn btn-danger">ENTRAR</button><div>
                            <div  id="icon"><a href=""><img [src]="facebook" style="max-width: 27px" alt=""></a></div>
                            <div  id="icon1"><a href=""><img [src]="linkedin" style="max-width: 27px" alt=""></a></div>
                            <div  id="icon2"><a href=""><img [src]="google" style="max-width: 27px" alt=""></a></div>
                            <!-- <div class="col-sm-3" id="icon"><a href=""><img [src]="shield" alt=""></a></div> -->
                        </div> 
                    </div>
                    <div id="palavras">
                      <p>
                        ou cadastre:
                      </p>
                    </div>
                    <div id="frases">
                        <br>  
                        <h5>
                          Já é cadastrado?<a href="#0" data-toggle="modal" data-target="#modalLogin"> Acesse aqui!</a>
                        </h5>
                      </div>
                      <div id="return">
                        <h6>
                            <a href="/#/"><u><VOLTAR</u></a>
                        </h6>
                      </div>
                </form>
            </div> 
            <div class="col-2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>