.fa-chevron-circle-right{
    color: black;
}

.fa-chevron-circle-left{
    color: black;
}

h1 {
    padding: 5px 5px 0 0;
}
#background{
    padding: 10px;
    border: 2px, black;
    margin-left: -1rem;
    background-size: cover;
}

#capt{
    margin-left: 10%;
}

#propg{
    margin-left: 14%;
}

.fundo {
    background-image: url(../images/fundo.jpg);
    background-size: cover;
    height: 450px;
    margin-top: 2%;
}

.Entrar {
    margin-top: 17%;
    margin-left: 42%;

}

#openModal{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

#home {
    margin-left: 40%;

}