.fa-chevron-circle-right{
    color: black;
}

.fa-chevron-circle-left{
    color: black;
}

h1 {
    padding: 5px 5px 0 0;
}
#background{
    margin-left: -1rem;
    background-size: cover;
}

#capt{
    margin-left: 10%;
}

#propg{
    margin-left: 14%;
}