#fundo {
  margin-top: 8%;
  background-size: cover;
}

/* 
#frase{
    left: 30%;
} */

input,
select {
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
}

#nome{
  width: 48%;
}

#sobrenome, #email {
  width: 97%;
}

#tel, #genero {
  width: 40%;
  margin-left: 45%;
}

#ra {
  width: 35%;
}

#unidade {
  margin-left: -30%;
}

#rg {
  width: 55%;
}

#cpf {
  margin-left: -30%;
  width: 55%;
}

#cargo {
  width: 55%;
}

#empresa {
  margin-left: -30%;
}

#face {
  margin-left: 300%;
  margin-top: -331%;
}
#yout {
  margin-left: 320%;
  margin-top: -347%;
  width: 14%;
}

#twt {
  margin-left: 337%;
  margin-top: -363%;
}

#link {
  margin-left: 355%;
  margin-top: -379%;
  width: 16%;
}

#button1 {
  width: 10%;
  border: 2px solid red;
  border-radius: 50px 20px;
  background-color: red;
  color: white;
}

.social-logo{
  max-width: 30px;
}

/* .slider-wrapper {
  display: inline-block;
  width: 20px;
  height: 150px;
  padding: 0;
} */