#fundo{
    margin-top: 9%;;
}

.confform{
    
    padding: 5px 10px;
    margin: 10px 0px;
    border: 1px solid black;
    border-radius: 1px;
    box-sizing: border-box;
    width: 30%;
    right: 25%;
  }

  #fname1 {
      left: 20%;
  }