#content {
    margin-top: 40px;
}

#logo {
    width: 50%;
}

#navbar{
    background-color: transparent;
}


.flex {
    display: flex;
}

.flex-item-1{
    flex: 1;
}

.item-1 {
    flex-grow: 1;
}

.item-2{
    flex-grow: 2;
}
