<nav class="navbar navbar-expand-lg navbar-dark fixed-top flex" id="navbar">
  <div class="flex-item-1 item-1" >
    <img [src]="logo" alt="" id="logo">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  </div>

  <div class=" navbar-collapse flex-item-1 item-2" id="navbarNavAltMarkup">
    <div class="navbar-nav" style="text-align: center;">
      <a class="nav-item nav-link" href="#/aluno">PÁGINA INICIAL</a>
      <a class="nav-item nav-link" href="#/aluno">PORTFÓLIO</a>
      <a class="nav-item nav-link" href="#/agenda">EVENTOS</a>
      <a class="nav-item nav-link" href="#/notice">NOTÍCIAS</a>
      <a class="nav-item nav-link" href="#/contact">PRÊMIOS</a> 
    </div>        

  </div>
  <div class="dropdown show flex-item-1 item-1">
    <div class="navbar-nav" style="position: relative; float: right;">
      <a class="nav-item nav-link" ><img [src]="iconAlert" alt=""></a>
      <a class="nav-item nav-link" ><img [src]="iconMsg" alt=""></a>
      <a class="nav-item nav-link" href="#modalSair" data-toggle="modal" data-target="#modalSair" class="nav-link"><img [src]="iconLogoff" alt="" ></a>
    </div>   
  </div>

</nav>

<div class="modal fade" id="modalSair" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Deseja encerrar esta sessão do Antena CPS?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Você poderá retornar facilmente depois usando o seu login social ou o seu e-mail.
      </div>
      <div class="modal-footer">
        <div class="mr-auto">
          <button class="btn btn-danger" data-dismiss="modal" (click)="logOff()">Encerrar</button>          
        </div>
        <div>
          <button class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>