<div>
<nav class="navbar navbar-light bg-light fixed-top">
  <a href="/"><img id="logo" class="navbar-brand mb-0" [src]="logo"></a>
  <button class="btn btn-danger my-2 my-sm-0" data-toggle="modal" data-target="#modalLogin">ENTRAR</button>
</nav>
</div>
<div class="modal" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Entrar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>      
      </div>
      <div class="modal-body">
        <div>
        </div>
        <form>
          <div>
            <form>
              <label for="email">Email</label>
              <input type="text" id="username" class="camposform" name="username" [(ngModel)]="usrn"    >
          
              <label for="password">Senha</label>
              <input type="password" id="password" class="camposform" name="password"  [(ngModel)]="pswd" >
                     
              <input type="submit" (click)="doPOST()" value="Entrar"><br>
              <a href="">Esqueceu sua senha ?</a>
               <br />
               <br />
               <br />

              <p>
                Primeiro acesso? Cadastre-se <a href="/#/cadastro" onclick="$('#modalLogin').modal('hide')">aqui</a>.
              </p>
              <!-- <div id="center">
                <button type="button"  size="lg" class="btn btn-primary" id="fbcolor" ><i class="fab fa-facebook-f left"></i></button>
                <button (click)="lgGoogle()" size="lg"  class="btn btn-secundary" id="ggcolor" >G</button>
              </div> -->
            </form>
          </div>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

