#logo {
    width: 100%;
    max-width: 200px;   
    height: auto;
}

.camposform {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid red;
    border-radius: 0px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 45%;
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius:0px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: red;
  }
  
  #center{
    text-align: center;
  }

 #fbcolor{
    border-radius: 50%;
 }

 #ggcolor {
    background-color: red;
    color:white;
    border-radius: 52%;
    margin-left: 5px;
 }
  
 .modal-content  {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px; 
  
}

#username {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  width: 85%;
  margin-left: 5%
}

#password {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  width: 85%;
  margin-left: 5%;

}

#labelEmail {
  margin-left: 8%;
  font-size: 15px;
}

#labelSenha {
  margin-left: 8%;
  font-size: 15px;  

}

#btnEntrar {
  width: 140px;
  margin-top: 5%;
  margin-left: -82%;
  font-size: 15px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

#ouAcesse {
  margin-left: 70%;
}



#iconF{
  margin-left: 70%;
  width: 1px;
  height: 1px;
  margin-top: -45px;
}

#iconL{
  margin-left: 84%;
  width: 1px;
  height: 1px;
  margin-top: -1px
}

#iconG{
  margin-left: 77%;
  width: 1px;
  height: 1px;
  margin-top: -1px;
}

#primeiroAcesso {
  margin-left: 22%;
  margin-top: 5%

}

#iconC{
  margin-left: 91%;
  width: 1px;
  height: 1px;
}

#googleImage:hover{
  cursor: pointer;
}

#facebookImage:hover{
  cursor: pointer;
}

#linkedinImage:hover{
  cursor: pointer;
}