#content{
        
        border-radius: 10px;
        background: #dddddd;
}

#title{
        margin-left: 10px;
}

#text{
        margin-left: 20px;
}
#row-padding{
        padding: 20px;
}

.flex-container{
        display: flex;
}

