<app-navbar></app-navbar>
<div style="margin-top: 50px">
<div id="" class="container-fluid" [ngStyle]="{ 'background-image': 'url(' + background + ')'}" style="background-size: cover;">
<div class="row" id="row-padding"></div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="row">
      <div id="content">
          <h1 id="title">Sobre o Antena CPS</h1>
          <p id="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id diam sit amet mauris malesuada efficitur. Donec sapien felis, molestie vitae condimentum sed, fringilla at lacus. Duis imperdiet condimentum tempor. Vivamus rutrum congue felis. Ut dui nibh, convallis at luctus pellentesque, luctus sed metus. Phasellus eu mauris dui. Donec sit amet turpis mauris. Proin tempus placerat diam, at elementum est lobortis a. Mauris eu felis eu nisl porta mollis nec eget ligula. Suspendisse a interdum lorem. Curabitur ornare sodales facilisis.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis lacus risus. Morbi id posuere nisl, sit amet condimentum eros. Suspendisse at velit ligula. Cras vitae commodo mi. Nunc malesuada ipsum nec lacinia convallis. Cras id accumsan eros, ac fringilla sem. Aliquam ut velit massa. Praesent molestie ullamcorper bibendum. Mauris vel quam sit amet ante condimentum ultricies. Etiam vel cursus nibh        
          </p>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6" style="margin-right: 30px">
                <iframe width="600" height="315" frameborder="0"
                  src="https://www.youtube.com/embed/fj99YK7XdFA">
                </iframe>
            </div>
            <div class="col-md-3"></div>
          </div>
          <div class="row" id="row-padding">
          </div>   
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row" id="row-padding"></div>
</div>
</div>
