.Logo a{
    color:white ;
    
}

.login .item{
    margin-left: 10px;
}


.botao {
    margin-bottom: 50px;
}

#formLogin {
    margin-top: auto;
    margin-bottom: auto;
}

#formLogin label {
    font-size: 18px;
    color: white;
    margin-left: 10px;
    margin-right: -5px;
}

.login input {
    background-color: white;
}

.pr-1 {
   width: 25%;
   
}

.pr-2 {
  width: 10%;
}
