.content {
    flex: 1;
}

.footer{
    flex-shrink: 0;
    text-align: right;
}

.jumb{
    padding: 1rem 1rem;
}

.cont{
    margin-top: -60px;
}

.carou{
    width: 100%;
}
body, html {
    background-image: url("../../data/images/prototipo2-02.png") ;      
    background-repeat: no-repeat;
    width:100%;
    height:100%

}  
