.toolbar{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #cc0000;
    height: 56px;
}
.toolbar-navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.toolbar-logo{
    margin-left: 1rem;
}
.toolbar-logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.spacer{
    flex: 1;
}
.toolbar-navigation-items ul{
    list-style: none;  
    padding: 0;
    margin: 0;
    display: flex;
}
.toolbar-navigation-items li{
    padding: 0 0.5rem;
}

.toolbar-navigation-items a{
    text-decoration: none;
    color: white;
}
.toolbar-navigation-items a:hover,
.toolbar-navigation-items a:active{
    color: #0160ae;
}

@media(min-width:769px){
    .toolbar-toggle-button{
        display: none;
    }
    .toolbar-logo{
        margin-left: 0;
    }
}
