<app-data-binding></app-data-binding>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <h1 class="display-4" style="color: white; display: inline" id='topo'>Release Notes</h1>
        <br>
        <br>
        <br>
    </div>
</div> 

<div id="conteudoEsq"> 
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#14-marco">14 de Março de 2019</a></li>
        <li class="list-group-item"><a href="#08-marco">08 de Março de 2019</a></li>
        <li class="list-group-item"><a href="#27-fevereiro">27 de Fevereiro de 2019</a></li>
    </ul>
</div>

<div id="conteudoDir">

    <h3 id="14-marco">14 de Março de 2019</h3>
    <br>
    <h4>Update</h4>
    <ul>
        <li><b>Menu: </b><p>Menu da página de cadastro atualizado e a criação de um novo menu para 
            o usuário logado. </p></li>
        
        <li><b>Titulo das Páginas: </b><p>Agora os títulos das páginas evidenciam o contexto das mesmas. </p></li>
    </ul>
    <br>

    <h3 id="08-marco">08 de Março de 2019</h3>
    <br>
    <h4>New</h4>
    <ul>
        <li><b>Agenda: </b><p>Telas com um Calendário para o Aluno/Colaborador, possa se cadastrar e 
            se inscrever em eventos disponíveis para o mesmo. Carousel com os eventos cujo mesmo já se 
            cadastrou ou participou.</p></li>
            
        <li><b>Alterar Dados: </b><p>Formulário para o aluno, atualuzar seus dados.</p></li>
        </ul>
    <h4>Update</h4>
    <ul>
        <li><b>Bloqueio do background:</b><p>Arrumado o bloqueio que acontecia quando o usuário tentava
            acessar o formulário de cadastro e página de perfil, onde as mesmas ficavam bloqueadas,
            impossibilitando o uso.  </p></li>
    </ul>
    <br>

    <h3 id="27-fevereiro">27 de Fevereiro de 2019</h3>
    <br>
    <h5>Deploy da Primeira versão do Sistema</h5>
    <ul>
        <li><b>Landing Page: </b> <p>Tela inicial contendo uma NavBar com o logo da plataforma e 
            um botão que exibe modal para fazer login, botões para fazer login com Facebook e Google.
            No Corpo da página, um carousel e um breve texto!</p></li>
       
        <li><b>Cadastro de Usuário: </b> <p>Tela para que o usuário inserir seus dados e realizar o 
            cadastro na plataforma.</p></li>
        <li><b>Perfil do Aluno: </b> <p>Tela para que o Aluno visualizar seus dados e um carousel 
            para o mesmo ver seus projetos cadastrados.</p></li>
    </ul>
    <br>
    
    <br>

    <footer class="fixar-rodape">
            <a href='#topo' >Voltar ao topo</a>
            <a class="navbar-brand" href="http://www.saopaulo.sp.gov.br/" target="__blank">
            <img id="brasao" [src]="brasao" alt="CPS Governo do Estado de São Paulo">
        </a>
    </footer>
</div>

