<nav class="navbar navbar-light bg-light">
<img id="logo" class="navbar-brand mb-0" [src]="logo"></nav>

<div class="letras">
<h4>
    <strong>
    AGENDA DE EVENTOS
    </strong>
</h4>
<p>
    Para se cadastrar num evento, basta clicar no dia para iniciar 
</p>
</div>
  
<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Entrar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>      
        </div>