<nav class="navbar navbar-light bg-light">
  <img id="logo" class="navbar-brand mb-0" [src]="logo"></nav>

<div class="letras">
  <h4>
    <strong>
      AGENDA DE EVENTOS
    </strong>
  </h4>
  <p>
    Para se cadastrar num evento, basta clicar no dia para iniciar
  </p>
</div>


<div class="container mb-4">

  <div id='calendar'></div>

</div>

<!-- <ng-template #content let-modal>
  <div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Events</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
          </div>
      </div>
  </div>
</ng-template> -->

<div class="card mb-3" style="max-width: 600px; max-height: 200px; left: 8.8%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{calendar}}" class="imgc" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title">Hackton</h4>
        <p class="card-text">Hackton, <strong>20 de março de 2019 às 14h</strong></p>
        <p class="card-text">Etec Parque da Juventude</p>
        <p class="card-text">Av.Cruzeiro do Sul, 88</p>
      </div>
    </div>
  </div>
</div>

