<app-navbar></app-navbar>

<div id="fundo"  [ngStyle]="{'background-image': 'url(' + fundo + ')'}">


<div class="letras">
  <h4>
    <strong>
      MEUS EVENTOS
    </strong>
  </h4>
  <p>
    Consulte os eventos inscritos
  </p>
</div>

<div class="card mb-3" style="max-width: 600px; max-height: 200px; left: 28%;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{calendar}}" class="imgc" alt="">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h4 class="card-title">Hackton</h4>
          <p class="card-text">Hackton, <strong>20 de março de 2019 às 14h</strong></p>
          <p class="card-text">Etec Parque da Juventude</p>
          <p class="card-text">Av.Cruzeiro do Sul, 88</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 600px; max-height: 200px; left: 28%;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{calendar}}" class="imgc" alt="">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h4 class="card-title">Palestra</h4>
          <p class="card-text">Palestra, <strong>9 de janeiro de 2019 às 10h</strong></p>
          <p class="card-text">Etec Sta. Ifigênia</p>
          <p class="card-text">Rua Gal. Couto Magalhães, 90</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 600px; max-height: 200px; left: 28%;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{calendar}}" class="imgc" alt="">
      </div>
      <div class="col-md-8">
        <div class="card-body"  >
          <h4 class="card-title">Workshop</h4>
          <p class="card-text">Workshop, <strong>2 de fevereiro de 2019 às 8h30</strong></p>
          <p class="card-text">Fatec Pompeia</p>
          <p class="card-text">Rua Santa Terezinha, 56</p>
        </div>
      </div>
    </div>
  </div>
</div>