#logo {
    width: 100%;
    max-width: 200px;   
    height: auto;
    color: white;   
 }   

 .letras {
     margin-left:5%;
     margin-top: 8%;
 }

.imgc {
    width: 170px;
}

#fundo {
    background-size: cover;
}