<app-navbar></app-navbar>

<div class="container" style="margin-top: 100px;">

  <div class="row">
    <div class="letras">
      <h4>
        <strong>
          AGENDA DE EVENTOS
        </strong>
      </h4>
      <p>
        Para se cadastrar num evento, basta clicar no dia para iniciar
      </p>
    </div>
    <div style="padding: 20, 20;"></div>
  </div>

  <div class="row">
    <div class="col-md-9" id="calendar"></div>

    <div class="vertical-container col-md-3 p-5" style="height: 570px;" fxLayout="column" fxLayoutAlign="stretch"
      fxFlex="50%">

      <h4>
         <a href="/agenda1">Meus Eventos</a> 
      </h4>
      
      <!-- Slide -->
      <swiper *ngIf="type == 'component' && show" class="swiper-container" style="height: 570px;" fxFlex="auto"
        [config]="config" [disabled]="disabled">
        <div *ngFor="let slide of slides" class="swiper-slide">
          <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>

            <!-- Template do card -->
            <div class="row no-gutters" style="border: 2px solid black">
                <div class="card-body">
                  <h4 class="card-title">Evento CPS</h4>
                  <p class="card-text">{{slide.subtitle}}, <strong>20 de março às 14h</strong></p>
                </div>
              </div>
          </div>
        </div>
      </swiper>
     
      <!-- Botão de proximo e voltar slide -->
      <div *ngIf="type =='directive' && show" class="swiper-container" [disabled]="disabled" [swiper]="config">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

    </div>

  </div>
</div>