<div class="modal-body">
  <div class="card" style="max-width: 900px; max-height: 400px;">
    <div class="row no-gutters">
      <div class="col-md-3">
        <img src="{{calendar}}" class="imgc" alt="">
      </div>
      <div class="col-md-1 row">
        <div class="card-body">
          <br>
          <input type="text" class="card-title" placeholder="Adicionar título do evento">
          <button class="btn btn-danger">Próximo</button>
        </div>
      </div>
    </div>
  </div>
</div>