<div class="background" id="border">
<app-profile-navbar style="background-color: transparent"></app-profile-navbar>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

<footer class="perfil-footer">
  <div class="footer-copyright text-muted text-center py-3">
    <a data-toggle="modal" href="#TermosDeUso2" class="text-muted">Termos de Uso</a> | <a data-toggle="modal" href="#PoliticaDP2" class="text-muted">Política de Privacidade e Segurança </a> | INOVA CPS - Centro Paula Souza - 2019 ®
  </div>
</footer>

</div>