#bg-profile{
    width: 100%;
    max-height: 20%;
}

#profile{
    margin-top: -140px;
}

#profile-pic {
    border-radius: 50%;
    width: 320px;
    height: 320px;
}
#icons{
    margin-left: -100px;
}
#icon {
    height: 100px;
    width: 100px;
}
#icons-social{
    margin-left: -30px; 
}

#name{

    font-weight: bold;
}

#portfolio{
    margin-top: 100px;
    margin-left: -60px;
}