<nav class="navbar navbar-dark fixed-top" style="background-color: red;"> 
  <a class="navbar-brand" href="#">
    <img src="" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>
</nav>
<div class="">
  <img id="bg-profile" [src]="bg" class="img-fluid" alt="Responsive image">
</div>
<div class="container">
  <div class="row">
    <div class="col-4">

    </div>
    <div class="col-4" id="profile">
        <img id="profile-pic" [src]="profile" alt="">
    </div>
    <div class="col-4">

    </div>
  </div>
</div>