
.background{
    background-image: url(../../assets/background_4K.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#bg-profile{
    width: 100%;
    max-height: 20%;
}

#profile{
    margin-top: -140px;
}

#profile-pic {
    border-radius: 50%;
    width: 320px;
    height: 320px;
}
#icons{
    margin-left: -100px;
}
#icon {
    height: 100px;
    width: 100px;
}
#icons-social{
    margin-left: -40px; 
}

#name{
    color: greenyellow;
    font-weight: bold;
}
#user-info{
    margin-top: 20px;
    text-align: center;
    color: white;
}

#portfolio{
    margin-top: 100px;
    margin-left: -60px;
}

#port{
    color: white;

}

.portfolio-item{
    max-width: 200px;
    max-height: 200px;
}

.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
background: #707070;
}

#border {
    border-style: dotted;
    border-color: transparent;
}

.padding{
    padding: 20px;
}

.social-icons{
    max-width: 50px;
    cursor: pointer;
}

#profile-image img{
    display: block;
    margin: auto;
}

#profile-image a{
    position: absolute;
    top: 71%;
    left: 45%;
}