<div class="background" id="border">
    <app-profile-navbar style="background-color: transparent"></app-profile-navbar>
    <div class="container" style="margin-top: 300px">
        <div class="row">
            <div class="col-md-4">
                <div class="row" id="icons"style="margin-top: 80px">
                    <div class="col-sm-3" id="icon"><a target="__blank"><img [src]="trof" alt=""></a>
                      <h6 style="margin-left: 20%; color: #ffff;">Prêmios</h6>
                    </div>
                    <div class="col-sm-3" id="icon"><a href="#/agenda"><img [src]="calendar" alt=""></a>
                      <h6 style="margin-left: 20%; color: #ffff;">Eventos</h6>
                    </div>
                    <div class="col-sm-3" id="icon"><a target="_blank"><img [src]="friends" alt=""></a>
                      <h6 style="margin-left: 20%; color: #ffff;">Projetos</h6>
                    </div>
                    <div class="col-sm-3" id="icon"><a target="_blank"><img [src]="shield" alt=""></a>
                      <h6 style="margin-left: 45%; color: #ffff;">XP</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4" id="profile">
                <div class="" id="name" style="text-align: center;">
                    <h1>{{ aluno.nome }} {{ aluno.sobrenome }}</h1>
                </div>
                <div id="profile-image">
                    <img id="profile-pic" [src]="fotoPerfil" alt="">
                    <a  id="buttonPopover" hidden class="btn btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">teste</a>
                    <a href="#0" data-toggle="modal" data-target="#modalProfile" ><i class="fas fa-cog fa-3x"></i></a>
                </div>
                <div id="user-info">
                    <div class="" style="margin-top: -5px;" >{{ aluno.escola }}</div>
                    <div *ngIf="aluno.idade != ''" class="" style="margin-top: -5px;">{{ aluno.idade }} anos</div>
                    <div class="" style="margin-top: -5px;">Estudante</div>
                </div>
            </div>
            <div class="col-md-4" >
                <div class="row" style="margin-top: 110px;">
                    <div class="col-sm-3" id="">
                        <a target="_blank"><img class="social-icons" [src]="github" alt=""></a>
                    </div>
                    <div class="col-sm-3 " id="icons-social">
                        <a target="_blank"><img class="social-icons" [src]="facebook" alt=""></a>
                    </div>
                    <div class="col-sm-3" id="icons-social">
                        <a target="_blank"><img class="social-icons" [src]="twitter" alt=""></a>
                    </div>
                    <div class="col-sm-3" id="icons-social">
                        <a target="_blank"><img class="social-icons" [src]="linkedin" alt=""></a>
                    </div>
                    <div class="col-sm-3" id="icons-social">
                        <a target="_blank"><img class="social-icons" [src]="youtube" alt=""></a>
                    </div>
                    <div class="col-sm-3" id="icons-social">
                        <a target="_blank"><img class="social-icons" [src]="instagram" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="portfolio">
            <div id="port" class="row">
                <h4>Meu Portfólio</h4>
            </div>
        </div>
            <div class="row" id="border">
                <div class="container">
                    <div class="row blog">
                        <div class="col-md-12">
                            <div id="blogCarousel" class="carousel slide" data-ride="carousel">

                                <!-- Carousel items -->
                                <div class="carousel-inner">

                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col">
                                                <a target="_blank">
                                                    <img class="portfolio-item" [src]="imgTeste" alt="Image"
                                                        style="max-width:100%;">
                                                        <h3 style="color: orange; margin-top: -20%"> Teste portfolio</h3>
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a href="#0" data-toggle="modal" data-target="#modalProject">
                                                    <img class="portfolio-item" [src]="addImg" alt="Image"
                                                        style="max-width:100%;">
                                                </a>
                                            </div>
                                        </div>
                                        <!--.row-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="padding"></div>
        <div class="padding"></div>
        <button hidden id="openModalFirst" data-toggle="modal" data-target="#modalFirst"></button>
    </div>

      <div class="modal fade" id="modalAvatar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Sobre Avatar</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">X Fechar</span>
              </button>
            </div>
            <div class="modal-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dolor metus, dapibus eu tincidunt sit amet, cursus et risus. Donec congue lacus sit amet elit malesuada mattis. Morbi urna metus, ornare id sapien et, mollis maximus neque. Fusce mattis euismod mattis. Donec libero felis, consectetur id neque quis, dignissim tempor ipsum. Aliquam et eros sed sapien fermentum malesuada eget et nisi. Nullam a sagittis erat. Pellentesque est ex, gravida quis sapien et, eleifend semper lacus. Aenean facilisis eu justo hendrerit lobortis. Donec quis ipsum sed velit dignissim maximus nec eu eros. Duis nec sapien eu ante tempus viverra nec in dolor. Maecenas in dui massa. In et finibus eros. Donec bibendum tortor massa, sed fringilla ex vehicula at. Pellentesque sed cursus erat, pellentesque consectetur mi. Integer auctor lobortis diam ut imperdiet.

                Morbi sit amet dapibus leo. Etiam bibendum at velit vitae fermentum. Fusce cursus quis lacus sit amet dignissim. Mauris ac risus volutpat, pulvinar turpis nec, malesuada erat. Curabitur quis euismod lorem. In at leo sit amet neque tincidunt varius ut vel turpis. Integer in sem in lectus dapibus bibendum vitae ut enim. Vivamus fringilla eleifend lacus ut suscipit.
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="modalGame" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sobre Avatar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X Fechar</span>
                </button>
              </div>
              <div class="modal-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dolor metus, dapibus eu tincidunt sit amet, cursus et risus. Donec congue lacus sit amet elit malesuada mattis. Morbi urna metus, ornare id sapien et, mollis maximus neque. Fusce mattis euismod mattis. Donec libero felis, consectetur id neque quis, dignissim tempor ipsum. Aliquam et eros sed sapien fermentum malesuada eget et nisi. Nullam a sagittis erat. Pellentesque est ex, gravida quis sapien et, eleifend semper lacus. Aenean facilisis eu justo hendrerit lobortis. Donec quis ipsum sed velit dignissim maximus nec eu eros. Duis nec sapien eu ante tempus viverra nec in dolor. Maecenas in dui massa. In et finibus eros. Donec bibendum tortor massa, sed fringilla ex vehicula at. Pellentesque sed cursus erat, pellentesque consectetur mi. Integer auctor lobortis diam ut imperdiet.
  
                  Morbi sit amet dapibus leo. Etiam bibendum at velit vitae fermentum. Fusce cursus quis lacus sit amet dignissim. Mauris ac risus volutpat, pulvinar turpis nec, malesuada erat. Curabitur quis euismod lorem. In at leo sit amet neque tincidunt varius ut vel turpis. Integer in sem in lectus dapibus bibendum vitae ut enim. Vivamus fringilla eleifend lacus ut suscipit.
              </div>
            </div>
          </div>
        </div>

          <div class="modal fade" id="modalFirst" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Olá, {{ aluno.nome }}!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    Bem-vindo ao ANTENA CPS! Este é seu primeiro acesso por aqui. Para continuar, você deve ler e aceitar os nossos <a href="../../assets/terms.pdf" data-toggle="modal" target="__blank" >Termos de Uso e Política de Privacidade e Segurança</a>.
                </div>
                <div class="modal-footer">
                  <div class="mr-auto">
                    <input type="checkbox" id="checkTerms" (change)="changeCheck($event)" ><label for="" style="margin-left: 5px"> Li e aceito os termos de uso.</label>
                  </div>
                  <div>
                    <button id="submitTerms" class="btn btn-danger" data-dismiss="modal"  (click)="submitTerms()" [disabled]="ableButton">Continuar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>          

<app-studentforms></app-studentforms>
<app-avatar-creation></app-avatar-creation>
<app-studentforms></app-studentforms>
<app-projeto></app-projeto>
<app-avatar-creation></app-avatar-creation>

<div class="modal fade" id="modalAboutMana" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">SOBRE MANAS</h5>
        </div>
        <div class="modal-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dolor metus, dapibus eu tincidunt sit amet, cursus et risus. Donec congue lacus sit amet elit malesuada mattis. Morbi urna metus, ornare id sapien et, mollis maximus neque. Fusce mattis euismod mattis. Donec libero felis, consectetur id neque quis, dignissim tempor ipsum. Aliquam et eros sed sapien fermentum malesuada eget et nisi. Nullam a sagittis erat. Pellentesque est ex, gravida quis sapien et, eleifend semper lacus. Aenean facilisis eu justo hendrerit lobortis. Donec quis ipsum sed velit dignissim maximus nec eu eros. Duis nec sapien eu ante tempus viverra nec in dolor. Maecenas in dui massa. In et finibus eros. Donec bibendum tortor massa, sed fringilla ex vehicula at. Pellentesque sed cursus erat, pellentesque consectetur mi. Integer auctor lobortis diam ut imperdiet.

            Morbi sit amet dapibus leo. Etiam bibendum at velit vitae fermentum. Fusce cursus quis lacus sit amet dignissim. Mauris ac risus volutpat, pulvinar turpis nec, malesuada erat. Curabitur quis euismod lorem. In at leo sit amet neque tincidunt varius ut vel turpis. Integer in sem in lectus dapibus bibendum vitae ut enim. Vivamus fringilla eleifend lacus ut suscipit.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-dismiss="modal">VOLTAR</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="modalAboutAvatar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">SOBRE AVATAR</h5>
        </div>
        <div class="modal-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dolor metus, dapibus eu tincidunt sit amet, cursus et risus. Donec congue lacus sit amet elit malesuada mattis. Morbi urna metus, ornare id sapien et, mollis maximus neque. Fusce mattis euismod mattis. Donec libero felis, consectetur id neque quis, dignissim tempor ipsum. Aliquam et eros sed sapien fermentum malesuada eget et nisi. Nullam a sagittis erat. Pellentesque est ex, gravida quis sapien et, eleifend semper lacus. Aenean facilisis eu justo hendrerit lobortis. Donec quis ipsum sed velit dignissim maximus nec eu eros. Duis nec sapien eu ante tempus viverra nec in dolor. Maecenas in dui massa. In et finibus eros. Donec bibendum tortor massa, sed fringilla ex vehicula at. Pellentesque sed cursus erat, pellentesque consectetur mi. Integer auctor lobortis diam ut imperdiet.

            Morbi sit amet dapibus leo. Etiam bibendum at velit vitae fermentum. Fusce cursus quis lacus sit amet dignissim. Mauris ac risus volutpat, pulvinar turpis nec, malesuada erat. Curabitur quis euismod lorem. In at leo sit amet neque tincidunt varius ut vel turpis. Integer in sem in lectus dapibus bibendum vitae ut enim. Vivamus fringilla eleifend lacus ut suscipit.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-dismiss="modal">VOLTAR</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalFinished" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><b>Ufa! Agora sim!</b></h5>
          </div>
          <div class="modal-body" style="text-align: center;">
            <h6>Você completou o seu cadastro com sucesso! Agora você é um ANTENADO!</h6>
          </div>
          <div class="modal-footer">
            <div>
              <button class="btn btn-danger" data-dismiss="modal">CONTINUAR</button>          
            </div>
          </div> 
        </div>
      </div>
    </div>
