.background {
    background-image: url(../../assets/background_4K.jpg);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#bg-profile {
    width: 100%;
    max-height: 20%;
}

#profile {
    margin-top: -160px;
}

#profile-pic {
    border-radius: 50%;
    width: 320px;
    height: 320px;
}

#icons {
    margin-left: -100px;
}

#icon {
    height: 100px;
    width: 100px;
}

#icons-social {
    margin-left: -40px; 
}

#name {
    color: greenyellow;
    font-weight: bold;
    text-align: center; 
    margin-bottom: 30px; 
    margin-left: -300px; 
    margin-right: -300px;
}

#user-info {
    margin-top: 20px;
    text-align: center;
    color: white;
}

#portfolio {
    margin-top: 15px;
    margin-left: 15px;
}

#ultimasnoticias {
    margin-left: 10%;
}

#desafios {
    margin-left: -1%;
}

#port {
    color: white;
}

.portfolio-item {
    max-width: 200px;
    max-height: 200px;
}

.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;
}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
    background: #707070;
}

#border {
    border-style: dotted;
    border-color: transparent;
}

.padding {
    padding: 20px;
}

.social-icons {
    max-width: 50px;
    cursor: pointer;
}

#profile-image img {
    display: block;
    margin: auto;
}

#profile-image a {
    position: absolute;
    top: 71%;
    left: 45%;
}

.card1 {
    margin-left: -32%;
}

.card3 {
    margin-left: -32%;
}

#profile-image a {
    position: absolute;
    top: 78%;
    left: 45%;
    padding: 4px 3px 0px 3px;
    background-color: #0069B5;
    border-radius: 50%;
    color: white;
    border: #72A5FF solid 2px;
}

.modal-top {
    background-color: #0069B5; 
    border-top-left-radius: 30px; 
    border-top-right-radius: 30px;
}

.btn-x {
    position: absolute; 
    right: -4%; 
    margin-top: -5%; 
    border-radius: 50%;
    width: 62px; 
    height: 62px;
    box-shadow: -1px 1px 9px black;
}

.btn-cancel {
    width: 125px; 
    height: 55px; 
    border-radius: 20px; 
    font-size: unset;
    border: #191919 solid 1px;
    text-align: center; 
    position: relative; 
    right: 20%;
}

.btn-send {
    background-color: #00B59C; 
    color: white; 
    width: 125px; 
    height: 55px; 
    border-radius: 20px; 
    font-size: unset; 
    text-align: center; 
    position: absolute; 
    left: 20%;
}

.btn-send:hover {
    background-color: #177165; 
}

.desafio-title {
    color: white; 
    margin-top: 1%
}

.x {
    font-size: 15px; 
    color: red;
    font-weight: bold;
}

/* carousel desafios */
.container-desafio {
    position: relative; 
    height: 300px;
}
  
.image-desafio {
    opacity: 1;
    display: block;
    width: 450px;
    height: 300px;
    transition: .5s ease;
    backface-visibility: hidden;
    filter: brightness(70%)
}
  
.image-evento {
    opacity: 1;
    display: block;
    width: 450px;
    height: 300px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle-desafio {
    height: 100%!important;
    max-width: 50px;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 95.5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    background-color: #444749;
    padding: 3px;
}
  
.text-image {
    position: absolute;
    top: 17rem;
    left: 1rem;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 0px 20px 0px 0px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 25px;
    letter-spacing: -0.8px;
    word-spacing: -0.4px;
    text-transform: uppercase;
}

.text-portfolio {
    position: absolute;
    top: 11rem;
    left: 2rem;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Fjalla One', sans-serif;
    font-size: 18px;
    letter-spacing: -0.8px;
    word-spacing: 1px;
    text-transform: uppercase;
}
  
.container-desafio:hover .middle-desafio {
    opacity: 1;
}
  
.btn-desafio {
    font-size: 10px;
    padding: 4px;
    height: 30px;
    width: 30px;
    margin: 3px;
}

.card1 {
  margin-left: -32%;
}

.card3 {
    margin-left: -32%;
}

.btn-blue {
    border:1px solid #003d66;
    font-size:100px;
    font-family:arial, helvetica, sans-serif; 
    padding: 20px 50px 20px 50px;
    display:inline-block;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
    font-weight:bold; 
    color: #0069B1;
    background-color: #005E9E; 
    background-image: -webkit-gradient(linear, left top, left bottom, from(#005E9E), to(#002138));
    background-image: -webkit-linear-gradient(top, #005E9E, #002138);
    background-image: -moz-linear-gradient(top, #005E9E, #002138);
    background-image: -ms-linear-gradient(top, #005E9E, #002138);
    background-image: -o-linear-gradient(top, #005E9E, #002138);
    background-image: linear-gradient(to bottom, #005E9E, #002138);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#005E9E, endColorstr=#002138);
}
    
.btn-blue:hover {
    border:1px solid #002138;
    background-color: #00406b; 
    background-image: -webkit-gradient(linear, left top, left bottom, from(#00406b), to(#000305));
    background-image: -webkit-linear-gradient(top, #00406b, #000305);
    background-image: -moz-linear-gradient(top, #00406b, #000305);
    background-image: -ms-linear-gradient(top, #00406b, #000305);
    background-image: -o-linear-gradient(top, #00406b, #000305);
    background-image: linear-gradient(to bottom, #00406b, #000305);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#00406b, endColorstr=#000305);
}
    
.boxmodel {
    width: 300px;
    height: 150px;
    background: #0366BB;
    color: #FFF;
    padding: 5px;
    border: 1px solid #0366BB;
    margin-right: 35%;
    margin-top: 5%;
    margin-bottom: 3%
}