<div id="background" class="container-fluid">
      <div class="padding">
        <div class="padding">
          <div class="padding">
            <div class="register" style="text-align: center">
              <div class="row">
              <div class="col-2"></div>
              <div class="col-8"> 
                  <div>
                      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" [mustMatch]="['password', 'confirmPassword']" novalidate>
                          <div>
                            <div class="form-group">
                                <label for="password">Nova senha</label>
                                <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6" />
                            </div>
                                <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                                    <div *ngIf="password.errors.required">Digite a senha.</div>
                                    <div *ngIf="password.errors.minlength">A senha deve ter no mínimo 6 dígitos.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Confirmar nova senha</label>
                                <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && confirmPassword.invalid }" required />
                                <div *ngIf="f.submitted && confirmPassword.invalid" class="invalid-feedback">
                                    <div *ngIf="confirmPassword.errors.required">É necessário confirmar a senha.</div>
                                    <div *ngIf="confirmPassword.errors.mustMatch">As senhas devem ser iguais.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-danger" >Redefinir</button>
                            </div>
                    </form>
                  </div>
              </div> 
              <div class="col-2"></div>
              </div>
              <div>
                <h5>Clique <a id="showLogin" (click)="openModalLogin()" href="#0">aqui</a> para logar.</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>