<div class="modal fade" id="modalProject" tabindex="-1" role="dialog" aria-labelledby="modalProfileLabe"
    aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">CADASTRO DE PROJETO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" id="close-modal-profile" style="font-size: 15px"> VOLTAR</span>
                </button>
            </div>
            <div class="modal-body">

                <div>
                    <h6>Os projetos que você participa formam o seu portfólio</h6>
                </div>
                <form action="">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="">Título do Projeto</label>
                            <input type="text" class="form-control" id="" name="" placeholder="" [(ngModel)]="">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">Orientador / Mentor / Colaborador</label>
                            <input type="text" class="form-control" id="" name="sobrenome1" placeholder=""
                                [(ngModel)]="">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="">Unidade(s)</label>
                            <input type="text" class="form-control" id="" name="ra1" placeholder="{{ aluno.ra }}"
                                value="{{ aluno.ra }}" [(ngModel)]="RA">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">Curso(s)</label>
                            <select id="" class="form-control">
                                <option selected>{{ aluno.escola}}</option>
                                <option>...</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="">Tema com o qual o projeto se alinha</label>
                            <input type="email" class="form-control" id="" name="email1" placeholder="{{ aluno.email }}"
                                value="{{ aluno.email }}" [(ngModel)]="email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">Coop(s)</label>
                            <input type="text" class="form-control" id="" name="telefone1"
                                placeholder="{{ aluno.telefone }}" value="{{ aluno.telefone }}" [(ngModel)]="telefone">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="">RG</label>
                            <input type="text" class="form-control" id="" name="rg1" placeholder="{{ aluno.rg }}"
                                value="{{ aluno.rg }}" [(ngModel)]="rg">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="">CPF</label>
                            <input type="text" class="form-control" minlength="11" maxlength="11" mask="000.000.000-00"
                                id="" name="cpf1" placeholder="{{ aluno.cpf }}" value="{{ aluno.cpf }}"
                                [(ngModel)]="cpf">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="">Suas Redes Sociais</label>
                            <div class="row">
                                <div class="col-md-3"><a href="#0"><img class="social-logo" [src]="logoFacebook"
                                            alt=""></a></div>
                                <div class="col-md-3"><a href="#0"><img class="social-logo" [src]="logoGithub"
                                            alt=""></a></div>
                                <div class="col-md-3"><a href="#0"><img class="social-logo" [src]="logoGoogle"
                                            alt=""></a></div>
                                <div class="col-md-3"><a href="#0"><img class="social-logo" [src]="logoInstagram"
                                            alt=""></a></div>
                            </div>
                            <div class="row" style="margin-top:5%;">
                                <div class="col-md-3"><a href="#0"><img class="social-logo" [src]="logoLinkedin"
                                            alt=""></a></div>
                                <div class="col-md-3"><a href="#0"><img class="social-logo" [src]="logoTwitter"
                                            alt=""></a></div>
                                <div class="col-md-3"><a href="#0"><img class="social-logo" [src]="logoYoutube"
                                            alt=""></a></div>
                                <div class="col-md-3"><a href="#0"><img class="social-logo" [src]="logoPinterest"
                                            alt=""></a></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalProjectSuccess"
                    data-dismiss="modal"">SALVAR</button>
          <button type=" button" class="btn btn-danger">PRÓXIMO</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalProjectSuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Uhuuu!</h5>
            </div>
            <div class="modal-body">
                <p>Seu projeto foi cadastrado com sucesso! Agora você pode adicionar mais recursos, como imagens textos,
                    arquivos, códigos e outros tipos de documentos para complementar as informações do projeto.Clique no
                    botão "CONTINUAR" para concluir sua edição e voltar a sua página personalizada.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="modal"
                    data-target="#modalProfile">FINALIZAR</button>
                <button type="button" class="btn btn-danger" data-dismis="modal">CONTINUAR</button>
            </div>
        </div>
    </div>
</div>