#logo {
    width: 100%;
    max-width: 200px;   
    height: auto;
    color: white;   
 }   

 input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 0px;
    box-sizing: border-box;
  }
  
  div {
    border-radius: 5px;
    background-color:white;
    padding: 20px;
  }

  #describe {
    height: 10%;
    width: 87%;
  }

  #unidade{
    width: 87%;
  }

  #others {
    width: 87%;
  }

  #curso {
    width: 87%;
  }

  #kwords {
    width: 87%;
  }

  #search {
    width: 87%;
  }

  #icon {
    width: 65%;
  }

.jumbotron {
  margin-bottom: 9%;
  
}

#premium {
  width: 87%;
}

#adfile {
  margin-top: -30%;
  margin-left: -220%;
  width:80%;
  
}

#imag{
  margin-top: -30%;
  margin-left: -145%;
  width:80%;

}

#upload{
  margin-top: -30%;
  margin-left: -70%;
  width:80%;
}

#plus {
  margin-left: -27%;
  margin-top: -11%;
  width: 11%;
}

.col-md-4 {
  display: inline-block;

  width: 25%;
  
  
}

#escudo {
  margin-left: -18%;
  width: 14%;
  margin-bottom: -40%;
}

.alturas {
  margin-top: -30%;
}

#friends {
  margin-top: -210%;
  margin-left: -555%;
  width:80%;
}

