<app-navbar></app-navbar>

<div><img [src]="back" id="graf" alt=""></div>

<div class="container" id="container">
    <div class="form-row">
        <form method="POST" (submit)="cadastrarProjeto()" enctype="multipart/form-data">
            <div class="form-group col-md-6">
                <h4>
                    <strong>
                        Cadastrar projeto
                    </strong>
                </h4>
                <strong>
                    Título do projeto
                </strong><br>

                <label for="title"></label>
                <input type="text" id="title" name="title" [(ngModel)]="projeto.titulo" placeholder="Título do projeto">

                <label for="describe"></label>
                <input type="text" id="describe" name="describe" [(ngModel)]="projeto.descricao" placeholder="Descrição do projeto">

                <div id="unidades">
                    <strong>Unidades envolvidas</strong>
                    <a (click)="addUnidade()"><img [src]="plus" id="plus" alt="#"></a>
                    <div *ngFor="let unidadeEnvolvida of unidadesEnvolvidas; let i = index">
                        <select name="unidade" [(ngModel)]="unidadesEnvolvidas[i]" id="unidade">
                            <option *ngFor="let unidade of unidades" value="{{ unidade.id }}">{{ unidade.nome }}</option>                 
                        </select>
                        <a (click)="deleteUnidade(i)"><img [src]="divide" id="divide" alt="#"></a>
                    </div>
                </div>

                <div id="cursos">
                    <strong>Cursos envolvidos</strong>
                    <a (click)="addCurso()"><img [src]="plus" id="plus" alt="#"></a>
                    <div *ngFor="let curso of cursosEnvolvidos; let i = index">
                        <select name="curso" [(ngModel)]="cursosEnvolvidos[i]" id="curso">
                            <option *ngFor="let curso of cursos" value="{{ curso.id }}">{{ curso.nome }}</option>
                        </select>
                        <a (click)="deleteCurso(i)"><img [src]="divide" id="divide" alt="#"></a>
                    </div>
                </div>

                <label for="kwords"><strong>Palavras chave:</strong></label>
                <input type="text" id="kwords" name="kwords" [(ngModel)]="palavrasChave" placeholder="5 palavras separadas por ;">

            </div>
            <div class="form-group col-md-6">
                <div>
                    <img [src]="friends" id="friends" alt="">
                    <label for="search"><strong>Colaboradores:</strong></label>
                    <input type="text" id="search" name="search" [(ngModel)]="colaboradores" placeholder="Email dos colaboradores separados por ;">
                </div>
                <div class="uploadGroup">
                    <div class="uploadFiles"><img [src]="upload" alt=""></div>
                    <div class="uploadFiles"><img [src]="imag" alt="" data-toggle="modal" data-target="#modalLogin"></div>
                    <div class="uploadFiles"><img [src]="adfile" alt=""></div>
                </div>

                <div>
                    <strong id="categorias">Categorias</strong>
                    <button type="button" (click)="exibirEsconderCategorias()">Exibir</button>
                    <div *ngIf="exibirCategorias == true" class="row">
                        <div class="col-md-4" *ngFor="let categoria of categorias; let i = index">
                            <input type="checkbox" value="{{ categoria.valor }}" [(ngModel)]="categorias[i].checado" name="checado">{{ categoria.nome }} <br>
                        </div>
                    </div>
                </div>

                <div id="premiacao">
                    <div style="display: inline;">
                        <a href=""><img [src]="escudo" id="escudo" alt=""></a>
                        <strong>Ganhou prêmios?</strong><br>
                        <div id="premiado">
                            <input type="radio" name="premiado" [(ngModel)]="premiado" value="1"><p>Sim</p>
                        </div>
                        <div id="premiado">
                            <input type="radio" name="premiado" [(ngModel)]="premiado" value="2"><p>Não</p>
                        </div>
                    </div>
                    <div *ngIf="premiado">
                        <label for="links"><strong>Links:</strong></label>
                        <input type="text" id="links" name="links" [(ngModel)]="links" placeholder="Links separados por ;">
                    </div>
                </div>
            </div>
            <input type="submit" value="Cadastrar">
        </form>
    </div>
</div>

<!-- MODAL DE ARQUIVOS -->
<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Galeria de fotos e mídias</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div>
                <button (click)="addArquivo()">Adicionar</button>

                <div *ngFor='let arquivo of arquivos; let i = index'>
                    <button (click)="deleteArquivo(i)">X</button>

                    <label for="midia"></label>
                    <input type="file" id="midia"  name="midia" (change)="alterarArquivo($event, i)">    

                    <label for="titulo"></label>
                    <input type="text" id="titulo" name="titulo" [(ngModel)]="arquivos[i].titulo" placeholder="Título">     

                    <label for="descricao"></label>
                    <input type="text" id="descricao" name="descricao" [(ngModel)]="arquivos[i].descricao" placeholder="Descrição">

                    <label for="codigo"></label>
                    <input type="text" id="codigo" name="codigo" [(ngModel)]="arquivos[i].codigo" placeholder="href=glasdsadasdasodaojoijhdsah">
                </div>
            </div>
        </div>
    </div>
</div>