<div class="modal fade" id="modalProject" tabindex="-1" role="dialog" aria-labelledby="modalProfileLabe"
    aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">CADASTRO DE PROJETO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" id="close-modal-profile" style="font-size: 15px"> VOLTAR</span>
                </button>
            </div>
            <div class="modal-body">

                <div>
                    <h4>Os projetos que você participa formam o seu portfólio</h4>
                </div>
                <form action="">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="">Título do Projeto</label>
                            <input type="text" class="form-control" id="" name="titulo" [(ngModel)]="model.titulo" placeholder="">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">Orientador / Mentor / Colaborador</label>
                            <input type="text" class="form-control" id="" name="orientador" [(ngModel)]="model.orientador" placeholder="">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="form-row">
                                <label for="">Tema com o qual o projeto se alinha</label>
                                <input type="email" class="form-control" id="" name="tema" [(ngModel)]="model.tema" placeholder="" value="">
                            </div>
                            <div class="form-row">
                                <label for="">Tipo de Projeto</label>
                                <input type="text" class="form-control" id="" name="tipo" [(ngModel)]="model.tipo" placeholder="" value="">
                            </div>
                            <div class="form-row">
                                <label for="">Status Atual do Projeto</label>
                                <input type="text" class="form-control" id="" name="status" [(ngModel)]="model.status" placeholder="" value="">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                                <label for="">Descrição do Projeto</label>
                                <textarea class="form-control" name="descricao" [(ngModel)]="model.descricao" id="" cols="60" rows="7" ></textarea>
                            </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                    <button type=" button" class="btn btn-danger" data-toggle="modal" data-target="#modalProjectUnits"
                        data-dismiss="modal">PRÓXIMO</button>
                </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalProjectSuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Uhuuu!</h5>
            </div>
            <div class="modal-body">
                <p>Seu projeto foi cadastrado com sucesso! Agora você pode adicionar mais recursos, como imagens textos,
                    arquivos, códigos e outros tipos de documentos para complementar as informações do projeto. Clique no
                    botão "CONTINUAR" para concluir sua edição e voltar a sua página personalizada.</p>
            </div>
            <div class="modal-footer">
              <div class="mr-auto">
                <button type="button" class="btn btn-danger" data-dismiss="modal">FINALIZAR</button>
              </div>
              <div>  
                <button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-target="#modalResources">CONTINUAR</button>
              </div>
            </div>
        </div>
    </div>
</div>

  <div class="modal fade" id="modalResources" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">RECURSOS ADICIONAIS</h5>
          <button type="button" class="close" data-dismiss="modal" data-toggle="modal" data-target="#modalProject" aria-label="Close">
            <span aria-hidden="true" id="close-modal-resources" style="font-size: 15px"> VOLTAR</span>
          </button>
        </div>
        <div class="modal-body" style="text-align: center;">
          <div>
            <h6>Clique nos botões abaixo e adicione recursos que complementam o seu projeto</h6>
          </div>
          <br/><br/>
          <div class="container-fluid">            
            <div class="row">
              <div class="col-sm-3">
                <button type="button" class="btn-outline-dark" id="btn-recursos"><b>Imagens</b></button>
              </div>
              <div class="col-sm-3">
                <button type="button" class="btn-outline-dark" id="btn-recursos" data-dismiss="modal" data-toggle="modal" data-target="#modalResText"><b>Textos</b></button>
              </div>
              <div class="col-sm-3">
                <button type="button" class="btn-outline-dark" id="btn-recursos"><b>Mídias</b></button>
              </div>
              <div class="col-sm-3">
                <button type="button" class="btn-outline-dark" id="btn-recursos"><b>Documentos</b></button>
              </div>
            </div>
            <br/><br/>                    
            <div class="row">
              <div class="col-sm-3">
                <button type="button" class="btn-outline-dark" id="btn-recursos"><b>Arquivos</b></button>
              </div>
              <div class="col-sm-3">
                <button type="button" class="btn-outline-dark" id="btn-recursos"><b>Códigos</b></button>
              </div>
              <div class="col-sm-3">
                <button type="button" class="btn-outline-dark" id="btn-recursos"><b>Detalhes</b></button>
              </div>
              <div class="col-sm-3">
                <button type="button" class="btn-outline-dark" id="btn-recursos"><b>Capa</b></button>
              </div>
            </div>    
          </div>
        </div>
        <br/>              
        <div class="modal-footer">
          <button class="btn btn-danger" data-dismiss="modal">FINALIZAR</button>          
        </div> 
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalResText" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">CADASTRO DE TEXTO</h5>
          <button type="button" class="close" data-dismiss="modal" data-toggle="modal" data-target="#modalResources" aria-label="Close">
            <span aria-hidden="true" id="close-modal-resources" style="font-size: 15px"> VOLTAR</span>
          </button>
        </div>
        <div class="modal-body" style="text-align: left;">
          <div>
            <h6>Crie um texto para descrever pontos importantes do seu projeto</h6>
          </div>
          <br/>
          <label for="basic-text">Texto</label>
          <div class="input-group">
            <textarea class="form-control" rows="8" id="basic-text" aria-label="With textarea"></textarea>
          </div>
          <br/>
          <label for="basic-url">Link complementar</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          </div>
        </div>      
        <div class="modal-footer">
          <div class="mr-auto">
            <button class="btn btn-danger" data-toggle="modal" data-dismiss="modal" data-target="#modalMsg">SALVAR</button>          
          </div>
          <div>
            <button class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-target="#modalResources">+ RECURSOS</button>          
          </div>
        </div> 
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalMsg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
          </div>
          <div class="modal-body" style="text-align: center;">
            <h6>Você ainda pode editar o seu texto. Clique no botão "CONTINUAR" para retornar à edição do texto, ou clique em "FINALIZAR" para concluir a edição e retornar à sua página personalizada.</h6>
          </div>
          <div class="modal-footer">
            <div class="mr-auto">
              <button class="btn btn-danger" data-dismiss="modal">FINALIZAR</button>
            </div>
            <div>
              <button class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-target="#modalResText">CONTINUAR</button>
            </div>
          </div>
        </div> 
      </div>
    </div>

<div class="modal fade" id="modalProjectUnits" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Escolha a unidade e os colaboradores do projeto</h5>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="">Coop(s)</label>
                        <input type="text" class="form-control" id="" name="coop" [(ngModel)]="model.coop" placeholder="">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="">Unidade(s)</label>
                        <select name="" id="" class="form-control">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="">Curso(s)</label>
                        <select name="" id="" class="form-control">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="form-group class-md-1" style="position: relative">
                        <a href="#0" (click)="addCurso"><img [src]="divide" style="max-width: 20px; position: absolute; top: 50%;"></a>
                    </div>
                </div>
                <div *ngFor="let coop of coops">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="">Coop(s)</label>
                            <input type="text" class="form-control" id="" name="" placeholder="">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="">Unidade(s)</label>
                            <select name="" id="" class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="">Curso(s)</label>
                            <select name="" id="" class="form-control">
                                <option value=""></option>
                            </select>
                            <a href="#0" (click)="deleteCurso"><img [src]="divide" style="max-width: 20px"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="postProject()">FINALIZAR</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="modal"
                    data-target="#modalResources" >CONTINUAR</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalMidias" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">CADASTRO DE MIDIA</h5>
        <button type="button" class="close" data-dismiss="modal" data-toggle="modal" data-target="#modalMidias" aria-label="Close">
          <span aria-hidden="true" id="close-modal-resources" style="font-size: 15px"> VOLTAR</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: left;">
        <div>
          <h6>Incorpore arquivos de mídia ao seu projeto</h6>
        </div>
        <br/>
        <label for="basic-url">Título da Mídia</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
        </div>
        <label for="basic-url">Legenda</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
        </div>
        <label for="basic-url">Link de origem da mídia</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
        </div>
        <div class="mr-auto">
          <button class="button1" id="button1">INCORPORAR</button>          
        </div>
      </div>  
      <div class="modal-footer">
        <div class="mr-auto">
          <button class="btn btn-danger" data-toggle="modal" data-dismiss="modal" data-target="#modalMsg1">SALVAR</button>          
        </div>
        <div>
          <button class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-target="#modalResources">+ RECURSOS</button>          
        </div>
      </div> 
    </div>
  </div>
</div>

<div class="modal fade" id="modalMsg1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body" style="text-align: center;">
        <h6>Você ainda pode adicionar outros arquivos ao seu projeto. Clique no botão "CONTINUAR" para acrescentar mais arquivos, ou clique em "FINALIZAR" para concluir a edição e retornar à sua página personalizada.</h6>
      </div>
      <div class="modal-footer">
        <div class="mr-auto">
          <button class="btn btn-danger" data-dismiss="modal">FINALIZAR</button>
        </div>
        <div>
          <button class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-target="#modalResText">CONTINUAR</button>
        </div>
      </div>
    </div> 
  </div>
</div>

     
