<div class="modal fade" id="modalProject" tabindex="-1" role="dialog" aria-labelledby="modalProfileLabe"
    aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">CADASTRO DE PROJETO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" id="close-modal-profile" style="font-size: 15px"> VOLTAR</span>
                </button>
            </div>
            <div class="modal-body">

                <div>
                    <h4>Os projetos que você participa formam o seu portfólio</h4>
                </div>
                <form action="">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="">Título do Projeto</label>
                            <input type="text" class="form-control" id="" name="" placeholder="" >
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">Orientador / Mentor / Colaborador</label>
                            <input type="text" class="form-control" id="" name="sobrenome1" placeholder=""
                                >
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="">Unidade(s)</label>
                            <input type="text" class="form-control" id="" name="ra1" placeholder=""
                                value="" >
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">Curso(s)</label>
                            <select id="" class="form-control">
                                <option selected></option>
                                <option>...</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="">Tema com o qual o projeto se alinha</label>
                            <input type="email" class="form-control" id="" name="email1" placeholder=""
                                value="" >
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">Coop(s)</label>
                            <input type="text" class="form-control" id="" name="telefone1"
                                placeholder="" value="" >
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="form-row"> 
                                <label for="">Tipo de Projeto</label>
                                <input type="text" class="form-control" id="" name="rg1" placeholder="" value=""></div>
                            <div class="form-row"> 
                                <label for="">Status Atual do Projeto</label>
                                <input type="text" class="form-control" id="" name="rg1" placeholder="" value=""></div>
                            </div>
                        <div class="form-group col-md-6">
                            <label for="">Descrição do Projeto</label>
                            <textarea  class="form-control" name="" id="" cols="60" rows="4"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalProjectSuccess"
                    data-dismiss="modal">SALVAR</button>
          <button type=" button" class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-target="#modalResources">PRÓXIMO</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalProjectSuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Uhuuu!</h5>
            </div>
            <div class="modal-body">
                <p>Seu projeto foi cadastrado com sucesso! Agora você pode adicionar mais recursos, como imagens textos,
                    arquivos, códigos e outros tipos de documentos para complementar as informações do projeto.Clique no
                    botão "CONTINUAR" para concluir sua edição e voltar a sua página personalizada.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">FINALIZAR</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-target="#modalResources">CONTINUAR</button>
            </div>
        </div>
    </div>
</div>

    <div class="modal fade" id="modalResources" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">RECURSOS ADICIONAIS</h5>
              <button type="button" class="close" data-dismiss="modal" data-toggle="modal" data-target="#modalProject" aria-label="Close">
                    <span aria-hidden="true" id="close-modal-resources" style="font-size: 15px"> VOLTAR</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center;">
                <div>
                  <h6>Clique nos botões abaixo e adicione recursos que complementam o seu projeto</h6>
                </div>
              <br/><br/>
              <div class="container-fluid">            
                <div class="row">
                  <div class="col-sm-3">
                    <button type="button" class="btn-outline-dark" id="btn-recursos"><b>Imagens</b></button>
                  </div>
                  <div class="col-sm-3">
                    <button type="button" class="btn-outline-dark" id="btn-recursos"><b>Textos</b></button>
                  </div>
                  <div class="col-sm-3">
                    <button type="button" class="btn-outline-dark" id="btn-recursos"><b>Mídias</b></button>
                  </div>
                  <div class="col-sm-3">
                    <button type="button" class="btn-outline-dark" id="btn-recursos"><b>Documentos</b></button>
                  </div>
                </div>
                <br/><br/>                    
                <div class="row">
                  <div class="col-sm-3">
                    <button type="button" class="btn-outline-dark" id="btn-recursos"><b>Arquivos</b></button>
                  </div>
                  <div class="col-sm-3">
                    <button type="button" class="btn-outline-dark" id="btn-recursos"><b>Códigos</b></button>
                  </div>
                  <div class="col-sm-3">
                    <button type="button" class="btn-outline-dark" id="btn-recursos"><b>Detalhes</b></button>
                  </div>
                  <div class="col-sm-3">
                    <button type="button" class="btn-outline-dark" id="btn-recursos"><b>Capa</b></button>
                  </div>
                </div>    
              </div>
            </div>
            <br/>              
                <div class="modal-footer">
                  <button class="btn btn-danger" data-dismiss="modal">FINALIZAR</button>          
                </div> 
            </div>
          </div>
        </div>