body {margin:2rem;}

.modal-dialog {
      max-width: 800px;
      margin: 30px auto;
  }

.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}

.icons-edit{
  margin-top: 40px;
}

.c-icons{
  color: black;
}
  
.modal-content{
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
  }

#btn-recursos {
    width: 150px;
    height: 90px;
    border-radius: 25px;
    text-align: center;
  }

.form-control {
    border-radius: 15px;  
}

#button1 {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  margin-left: -1.8%;
} 

  #tituloImagem{
    width: 90%;
    margin-left: 5%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
  }

  #legendaImagem{
    width: 90%;
    margin-left: 5%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
  }

  #btnSalvar{
    width: 140px;
    margin-right: 20%;
      font-size: 15px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
    }

  #btnMaisRecursos{
    width: 140px;
    margin-right: 20%;
    font-size: 15px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
  }

  #btnContinuar{
    width: 200px;
    margin-right: 20%;
    font-size: 20px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    margin-left: 60%;
    margin-bottom: 5%;
  }

  #btnFinalizar{
    width: 200px;
    margin-right: 20%;
    font-size: 20px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    margin-top: 25%;
    margin-left: 20%;
    margin-bottom: -5%
  }

#adicionarImagem:hover{
  cursor: pointer;
}

#recursoImagem {
  overflow: auto;
}

div.relative {
  position: relative;
  width: 120px;
} 

div.absolute {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25px;
  height: 38px;
}

div.relative-midia {
  position: relative;
  width: 160px;  
} 

div.absolute-midia {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25px;
  height: 45px;
}