#logo {
    width: 100%;
    max-width: 200px;   
    height: auto;
    color: white;   
 }   

 input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 0px;
    box-sizing: border-box;
  }
  
  div {
    padding: 20px;
  }

  #title {
    height: 10%;
    width: 87%;
  }

  #describe {
    height: 10%;
    width: 87%;
  }

  #unidade{
    margin-top: -30%;
    width: 87%;
  }

  #others {
    width: 87%;
  }

  #curso {
    width: 87%;
  }

  #kwords {
    width: 87%;
  }

  #search {
    width: 75%;
    margin-top: 10px;
  }

  #icon {
    width: 65%;
  }

.jumbotron {
  margin-bottom: 9%;
  
}

#premium {
  width: 87%;
}

/* #adfile {
  margin-top: -30%;
  margin-left: -220%;
  width:80%;
  
}

#imag{
  margin-top: -30%;
  margin-left: -145%;
  width:80%;

}

#upload{
  margin-top: -30%;
  margin-left: -70%;
  width:80%;
} */

#plus {
  margin-left: 35%;
  margin-top: -11%;
  margin-bottom: -10%;
  width: 11%;
}

#divide {
  width: 7%;
}

/* .col-md-4 {
  display: inline-block;
  width: 25%;  
} */

.uploadGroup {
  position: relative;
  padding-top: 0px;
  padding-left: 0px;
  margin-top: 5px;
  margin-bottom: 15px;
  width: 100%;
  height: 8%;
}

.uploadFiles {
  width: 25%;
  float: left;
  padding: 0px;
}

.uploadFiles img {
  width: 100%;
}

/* #escudo {
  margin-left: -18%;
  width: 14%;
  margin-bottom: -40%;
} */


#friends {
  margin-left: -20px;
  width:20%;
  float: left;
}

#title {
  width: 40%;
  height: -100%;
}

#unidades {
  padding-top: 0px;
  padding-left: 0px;
  margin-top: 15px;
}

#unidades p {
  margin-left: 0px;
  float: left;
}

#unidades a {
  margin-top: 0px;
  margin-left: 0px;
}

#unidades select {
  margin-top: 3px;
  margin-left: -20px;
  margin-right: 3px;
  width: 95%;
}

#cursos {
  padding-top: 0px;
  padding-left: 0px;
  margin-top: 15px;
}

#cursos p {
  margin-left: 0px;
  float: left;
}

#cursos a {
  margin-top: 0px;
  margin-left: 0px;
}

#cursos select {
  margin-top: 3px;
  margin-left: -20px;
  margin-right: 3px;
  width: 95%;
}

#premiacao img {
  width: 25%;
  position: relative;
  float: left;
}

#premiado {
  padding: 0px;
}

#premiado input {
  position: relative;
  margin-left: -130px;
  float: left;
}

#premiado p {
  margin-left: 25px;
  margin-top: -25px;
  width: 70%;
  float: left;
}